@import '../../styles/variables';

.container {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 440px;
  background-color: $light-gray;
  border: 1px solid #e3ebef;
  border-radius: 5px;

  &::after {
    content: '';
    width: 1px;
    height: 30px;
    background-color: #e3ebef;
    order: 1;
  }
}
