.container {
  padding: 120px 120px 130px;
}

.header {
  margin-bottom: 15px;
}

.subheader {
  margin-bottom: 60px;
}

.loading {
  margin-bottom: 50px;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.input {
  padding: 0 15px;
  display: inline-block;
  width: 720px;
  height: 50px;
  background-color: #f6f7f8;
  border: 1px solid #e3ebef;
  border-radius: 5px;
  margin-right: 40px;
}

.button {
  width: 205px;
  height: 50px;
  background-color: #11b3fe;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  
  &:hover {
    background-color: #0095e0;
  }
}
